@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Mukta:wght@700&display=swap');

@font-face {
    font-family: 'fonte1';
    src: url(../fontes/docktrin.ttf) format('truetype');
}

@font-face {
    font-family: 'fonte2';
    src: url(../fontes/RioGrande.ttf) format('truetype');
}

@font-face {
    font-family: 'fonte3';
    src: url(../fontes/SHADSER.TTF) format('truetype');
}

@font-face {
    font-family: 'fonte4';
    src: url(../fontes/WOODCUT.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #F2B705;
    --cor2: #A66D03;
    --cor3: #591202;
    --cor4: #8C2D18;
    --cor5: #400601;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.171);
    max-width: 100%;
    height: 400px;
}

.container {
    padding: 3%;
    margin: 10px 0px 0px 0px;
}

nav > .logo {
    font-size: 5em;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

nav > .logo > span > a {
    font-family: 'fonte2';
}

div.pulse {
    color: var(--cor1);
}

a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

nav > div > span > a > img {
    filter: invert(18%) sepia(30%) saturate(134%) hue-rotate(389deg) brightness(100%) contrast(148%);
}

ul {
    list-style: none;
}

ul > li {
    display: inline-flex;
}

ul > li > a {
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: fonte1;
    font-style: italic;
    color: var(--cor1);
    letter-spacing: 0.8px;
    border-radius: 30px;
    transition: 0.5s;
    border: none;
}

ul > li > a:hover {
    background-color: darkred;
    transform: translate(-3px, 3px);
    box-shadow: 1px 0px 15px rgb(80 3 3 / 64%);
    transition: transform 0.4s, border 0.8s rgb(70, 2, 2);
}
